/* Styling the navbar */
.navbar {
    height: 100px;
    }
    
    /* Giving the navbar font style */
    .navbar{
        font-size: xx-large;
        text-shadow: 0 0 20px rgb(209, 29, 29), 0 0 20px #9d32ac, 0 0 20px #ee38b7, 0 0 30px #af1c1c, 0 0 30px #5e0f36, 0 0 30px #9e1028, 0 0 40px #440508;
        font-family: 'Rock Salt', cursive;
        text-align: center;
        justify-content: center;
        background-color: black;
        color: gold;
    }
    /* Styling the background of the page */
    body {
        background: rgb(45,45,45);
background: linear-gradient(23deg, rgba(45,45,45,1) 50%, rgba(106,106,106,1) 100%, rgba(116,116,116,1) 100%);
color: whitesmoke;
    }
    /* This is the main box with text description/profile photo */
    h1 {
        justify-content: center;
        font-size: xx-large;
         text-align: center;
         color: gold;
    }
    #firstBoxes {
        text-align: center;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 10px;
        margin-right: 10px;
        border: solid 1px black;
        padding: 15px;
        background-image: url("https://thumbor.thedailymeal.com/TjOELH_4GC4Ws_ArBBWaw4pk6Yw=/870x565/filters:focal(833x459:834x460)/https://www.thedailymeal.com/sites/default/files/story/2017/tequilashots.JPG");
        background-size: cover;
        color: white;
        text-shadow: 0 0 20px rgb(209, 29, 29), 0 0 20px #9d32ac, 0 0 20px #ee38b7, 0 0 30px #af1c1c, 0 0 30px #5e0f36, 0 0 30px #9e1028, 0 0 40px #440508;
    }
    
    /* The image styling */
    img {
        height: 275px;
        width: auto;
        border: 5px black solid;
    
    }
    
    /* Stlying the containers holding the photo links */
    .container {
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
    }
        /* Styling the footer */
    footer {
        background-image: url("https://media.istockphoto.com/vectors/celebration-festival-background-with-helium-balloons-greeting-banner-vector-id1165995531?k=20&m=1165995531&s=170667a&w=0&h=RqS8QvAwzUS47D569TdV53xwj4ReQYzTFu9syhx9eI0=");
        background-size: cover;
        height: 150px;
        font-size: larger;
        font-family: 'Rock Salt', cursive;
        text-shadow: 0 0 20px rgb(209, 29, 29), 0 0 20px #9d32ac, 0 0 20px #ee38b7, 0 0 30px #af1c1c, 0 0 30px #5e0f36, 0 0 30px #9e1028, 0 0 40px #440508 !important;
        color: rgb(129, 25, 25) !important;
        padding-top: 30px;
    }
    
    /* Styling the lists */
    li {
        color: black !important;
        padding: 3px;
        font-weight: bold;
        font-size: x-large;
        font-family: 'Barlow Semi Condensed', sans-serif !important;
        text-shadow: none !important;
    }
    
    /* When you hover over a list item it changes background color and font */
    li a:hover {
        background-color: rgb(218, 206, 42);
    }
    /* Changing the link colors to stand out more */
    li a:link {
        color: rgb(219, 206, 23) !important;
      }
 .d-block {
      height: 500px !important;
      width: 400px !important;
      justify-content: center !important;
      margin-left: auto !important;
      margin-right: auto !important;
      align-items: center !important;
      margin-bottom: 20px!important;
      margin-top: 20px!important;
  }
.carousel-inner {
    margin-left: auto !important;
    margin-right: auto !important;
}